*{margin: 0;padding: 0px;}
.parent{width:200px;height: 200px;background-color: green;position: relative;margin: 0px;}

.red{width: 100px;height: 100px;background-color: rebeccapurple;position: fixed;margin: 0px;border-radius: 50px;right: ;}

